@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="http://www.myseniorcollege.com/">
                <img src="~/images/DSMSeniorCollegeBanner1.jpg" alt="Des Moines Senior College" class="img-responsive" />
            </a>
            <div class="carousel-caption" role="option">
                @*<div class="pull-right">
                    <p>
                        <a class="btn btn-default" href="http://www.myseniorcollege.com/">
                            Learn More
                        </a>
                    </p>
                    </div>*@
            </div>
        </div>
        <div class="item">
            <a href="http://www.myseniorcollege.com/about.html">
                <img src="~/images/aboutseniorcollegebanner.jpg" alt="About Senior College" class="img-responsive" />
            </a>
            <div class="carousel-caption" role="option">
                @*<p>
                        <a class="btn btn-default" href="http://www.myseniorcollege.com/about.html">
                            Learn More
                        </a>
                    </p>*@
            </div>
        </div>
        <div class="item">
            <a href="http://www.myseniorcollege.com/courses.html">
                <img src="~/images/course banner.jpg" alt="Available Courses" class="img-responsive" />
            </a>
            <div class="carousel-caption" role="option">
                @*<p>
                        <a class="btn btn-default" href="http://www.myseniorcollege.com/courses.html">
                            Learn More
                        </a>
                    </p>*@
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

