@model Senior_College_Project.Models.ViewModels.CreateClassCommand
@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align: center">Course Proposal</h2>



<form asp-controller="Create" asp-action="Index" method="post">
    <div id="wrapper">
        <h3 style="text-align: center">Today's Date: @DateTime.Now</h3>
        <div style="text-align: center;">
            <h3>Class</h3>
            <div style="display:block; padding-bottom: 5px">
                <div style="width: 50%;  margin: auto">
                    <label asp-for="ProposedTitle">Proposed Title</label>
                    <input class="form-control" asp-for="ProposedTitle" />
                    <span asp-validation-for="ProposedTitle"></span>
                </div>
                <div style="width: 50%; margin: auto">
                    <label asp-for="NumClassSessions">Number of Class Sessions</label>
                    <input class="form-control" asp-for="NumClassSessions" />
                    <span asp-validation-for="NumClassSessions"></span>
                </div>
                <div style="width: 50%;  margin: auto">
                    <label asp-for="LengthOfSession">Length of Class Session</label>
                    <input class="form-control" asp-for="LengthOfSession" />
                    <span asp-validation-for="LengthOfSession"></span>
                </div>
                <div>
                    <label style="display:block" asp-for="ClassDesc">Class Description</label>
                    <textarea asp-for="ClassDesc" style="width: 75%" rows="3" cols="80"> </textarea>
                    <span asp-validation-for="ClassDesc"></span>
                </div>
                <div>
                    <label style="display:block" asp-for="PreRequisites">Pre-Requisites</label>
                    <textarea asp-for="PreRequisites" style="width: 75%" rows="3" cols="80"> </textarea>
                    <span asp-validation-for="PreRequisites"></span>
                </div>

            </div>

        </div>
        <div style="clear:both; padding: 5px;">
            <h4 class="important" style="text-align: center">Instructor Preferences</h4>
            <h4 style="text-align: center">Please Identify Your Available Times</h4>
            <!--
            <div class="form-group">

                <div class="col-md-10" style="text-align: center">
                    <label for="mondayTimes">Monday:</label>
                    <select id="mondayTimes">
                        <option value="none">None</option>
                        <option value="mondayMorning">Morning</option>
                        <option value="mondayAfternoon">Afternoon</option>
                        <option value="mondayEvening">Evening</option>
                    </select>
                    <label for="tuesdayTimes">Tuesday:</label>
                    <select id="tuesdayTimes">
                        <option value="none">None</option>
                        <option value="tuesdayMorning">Morning</option>
                        <option value="tuesdayAfternoon">Afternoon</option>
                        <option value="tuesdayEvening">Evening</option>
                    </select>
                    <label for="wednesdayTimes">Wednesday:</label>
                    <select id="wednesdayTimes">
                        <option value="none">None</option>
                        <option value="wednesdayMorning">Morning</option>
                        <option value="wednesdayAfternoon">Afternoon</option>
                        <option value="wednesdayEvening">Evening</option>
                    </select>
                </div>
                <div class="col-md-10" style="text-align:center">
                    <label for="thursdayTimes">Thursday:</label>
                    <select id="thursdayTimes">
                        <option value="none">None</option>
                        <option value="thursdayMorning">Morning</option>
                        <option value="thursdayAfternoon">Afternoon</option>
                        <option value="thursdayEvening">Evening</option>
                    </select>
                    <label for="fridayTimes">Friday:</label>
                    <select id="fridaytimes">
                        <option value="none">None</option>
                        <option value="fridayMorning">Morning</option>
                        <option value="fridayAfternoon">Afternoon</option>
                        <option value="fridayEvening">Evening</option>
                    </select>
                    <label for="saturdayTimes">Saturday:</label>
                    <select id="saturdayTimes">
                        <option value="none">None</option>
                        <option value="saturdayMorning">Morning</option>
                        <option value="saturdayAfternoon">Afternoon</option>
                        <option value="saturdayEvening">Evening</option>
                    </select>
                </div>
                <div class="col-md-10" style="text-align:center">
                    <label for="sundayTimes">Sunday:</label>
                    <select id="sundayTimes">
                        <option value="none">None</option>
                        <option value="sundayMorning">Morning</option>
                        <option value="sundayAfternoon">Afternoon</option>
                        <option value="sundayEvening">Evening</option>
                    </select>
                </divclass="col-md-10">
            </div>
                -->
            <div style="word-spacing: 40px; text-align: center">
                <h5 style="display:inline">Times</h5>
                <h5 style="display:inline">Mon.</h5>
                <h5 style="display:inline">Tues.</h5>
                <h5 style="display:inline">Wed.</h5>
                <h5 style="display:inline">Thurs.</h5>
                <h5 style="display:inline">Fri.</h5>
                <h5 style="display:inline">Sat.</h5>
                <h5 style="display:inline">Sun.</h5>
            </div>
            <div style="word-spacing: 60px; text-align: center">
                <h5 style="display:inline">Morning</h5>
                <input type="checkbox" name="MonMorning" value="Monday Morning" />
                <input type="checkbox" name="TuesMorning" value="Tuesday Morning" />
                <input type="checkbox" name="WedMorning" value="Wednesday Morning" />
                <input type="checkbox" name="ThursMorning" value="Thursday Morning" />
                <input type="checkbox" name="FriMorning" value="Friday Morning" />
                <input type="checkbox" name="SatMorning" value="Saturday Morning" />
                <input type="checkbox" name="SunMorning" value="Sunday Morning" />
            </div>
            <div style="word-spacing: 60px; text-align: center">
                <h5 style="display:inline">Aternoon</h5>
                <input type="checkbox" name="MonAfternoon" value="Monday Afternoon" />
                <input type="checkbox" name="TuesAfternoon" value="Tuesday Afternoon" />
                <input type="checkbox" name="WedAfternoon" value="Wednesday Afternoon" />
                <input type="checkbox" name="ThursAfternoon" value="Thursday Afternoon" />
                <input type="checkbox" name="FriAfternoon" value="Friday Afternoon" />
                <input type="checkbox" name="SatAfternoon" value="Saturday Afternoon" />
                <input type="checkbox" name="SunAfternoon" value="Sunday Afternoon" />
            </div>
            <div style="word-spacing: 60px; text-align: center">
                <h5 style="display:inline">Evening</h5>
                <input type="checkbox" name="MonEvening" value="Monday Evening" />
                <input type="checkbox" name="TuesEvening" value="Tuesday Evening" />
                <input type="checkbox" name="WedEvening" value="Wednesday Evening" />
                <input type="checkbox" name="ThursEvening" value="Thursday Evening" />
                <input type="checkbox" name="FriEvening" value="Friday Evening" />
                <input type="checkbox" name="SatEvening" value="Saturday Evening" />
                <input type="checkbox" name="SunEvening" value="Sunday Evening" />
            </div>
            <div style="text-align: center; margin: 5px;">
                <label>Please list any date/time restrictions</label>
                <input type="text" />
            </div>

            <h3 style="text-align:center; text-decoration:underline">Instructor Requirements</h3>
            <div style="text-align: center">
                <p>If you have number of student restrictions for your class, please enter below: </p>
                <div style="border: 1px solid black">
                    <label asp-for="MinStudentCount"> Minimum Students</label>
                    <input asp-for="MinStudentCount" style="margin: 5px; width: 50px" type="text" />
                    <label asp-for="MaxStudentCount"> Maximum Students</label>
                    <input asp-for="MaxStudentCount" type="text" style="width: 50px" />
                </div>
                <p><span style="text-decoration: underline">Classroom Set-up</span>, please check box based on need</p>
                <div style="border: 1px solid black">
                    <label asp-for="ChairsNeeded">Chairs for Students</label>
                    <input asp-for="ChairsNeeded" style="margin: 5px; width: 50px" type="text" />
                    <label asp-for="TablesNeeded">Tables and Chairs for Students</label>
                    <input style="width: 50px" asp-for="TablesNeeded" type="text" />
                </div>
                <p>
                    <span style="text-decoration: underline">Equipment Needed:</span>We will do our best to provide you
                    with what you need, but we use many different sites. You will need to verify equipment at the site you
                    are assigned for your computerized presentation before your class begins. Please select only the equipment
                    that is essential
                </p>
                <div style="border: 1px solid black">
                    <label>Internet Connection</label>
                    <input style="margin: 5px" type="checkbox" />
                    <label>Dry Erase Board and Markers</label>
                    <input type="checkbox" />
                </div>
                <div style="border: 1px solid black; border-top: none">
                    <label>Projector for laptop w/ Screenwall</label>
                    <input style="margin: 5px" type="checkbox" />
                    <label>Enter PC Connection Type</label>
                    <input style="margin: 5px; width: 50px;" type="text" />
                </div>
                <div style="border: 1px solid black; border-top: none">
                    <label>Microphone/Sound System</label>
                    <input style="margin: 5px" type="checkbox" />
                    <label>VCR/DVD Player & Screen</label>
                    <input type="checkbox" />
                </div>
                <div style="border: 1px solid black; border-top: none; margin-bottom: 5px;">
                    <label>Podium</label>
                    <input style="margin: 5px" type="checkbox" />
                    <label asp-for="OtherEquipmentNeeded">Other:</label>
                    <input asp-for="OtherEquipmentNeeded" style="margin: 5px; width: 50px;" type="text" />
                </div>
                <label asp-for="HandoutCost">Handouts, Cost: </label>
                <input asp-for="HandoutCost" type="text" />
                <p>
                    (A cost estimate is needed to build the handout cost into the course tuition;
                    instructors will be reimbursed actual expenses up to $2.00 per student for handouts
                    upon submission of a receipt. Higher amounts will be considered on a case by case basis.)
                </p>
                
                <p><span>Senior College pays instructors a stipend of $50 per hour of instruction.</span> Events may have a different pay structure.</p>
                <p>Please indicate whether you wish to be paid this stipend (leave unchecked if you wish to waive this stipend):</p>
                <div>
                    <label>Stipend to instructor </label>
                    <input asp-for="StipendRequested" style="margin: 5px" type="checkbox" />
                </div>
            </div>

            <p>
                While Senior College is a non-profit organization, students are charged reasonable fees that help cover expenses including the
                printing and distribution of the catalogs, advertising, contracted services, office expenses and instructors' compensations.
            </p>

            <p>Thank you for your interest in teaching for Senior College of Greater Des Moines!</p>

            <button type="submit"> Submit </button>

        </div>
    </div>
</form>

