@model SeniorCollegeScheduler.Models.ViewModels.ClassDetailedViewModel
@{
    ViewData["Title"] = "ClassDetailed";
}

<h2 style="text-align: center">Proposed Class Details</h2>

<h4 style="text-align: center">Proposed By: (instructor here)</h4>
<h4 style="text-align: center">Proposed On: (Proposed Date here)</h4>
<div style="padding-top: 20px">
    <div style="float: left; width: 40%">
        <h4 style="text-align: center">Class Description: </h4>
        <h4 style="text-align: center">Class Pre-Requisites: </h4>
    </div>
    <div style="float: right; width: 40%">
        <h4>Prefered Days: </h4>
        <h4>Date/Time Restrictions Days: </h4>
    </div>
</div>

<div style="clear: both; text-align:center; padding-top: 20px;">
    <h3>Instructor Requirements</h3>
    <div style="float: left; width: 40%">
        <h4>Minimum Students: </h4>
        <h4>Maximum Students: </h4>
        <h4>Stipend Instructor: </h4>
    </div>
    <div style="float: right; width: 40%">
        <h4>Tables Needed: </h4>
        <h4>Chairs Needed: </h4>
        <h4>Handout Costs:</h4>
    </div>
</div>

<div style="clear: both; text-align:center; padding-top:20px;">
    <h3>Class Room Needs</h3>
    <div style="float: left; width: 40%">
        <h4>Internet Connection: (yes/no)</h4>
        <h4>Dry Erase Board: (yes/no)</h4>
        <h4>Projector w/Screenwall: (if yes display pc connection type)</h4>
    </div>
    <div style="float: right; width: 40%">
        <h4>Microphone/Sound System: </h4>
        <h4>VCR/DVD Player & Screen: </h4>
        <h4>Podium: </h4>
    </div>
    <div style="clear: both"></div>
    <h4>Other Equipment: </h4>
</div>

<div style="clear: both"></div>




