
@{
    ViewData["Title"] = "UserInformationNeeded";
}
    <meta http-equiv="refresh" content="4; url=/User">

<h2 style="color: red">Please Enter Instructor Information Before Proposing a Form</h2>
<p>Redirecting in 4 seconds.......</p>

